.ticker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media only screen and (max-width: 360px) {
    margin-top: 5rem;
  }

  .ticker-title-p {
    font-family: "Maison Neue Medium";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #ffffff;
  }

  .logo-carousel {
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    padding: 20px 0;
  }

  .logo-track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 50s linear infinite;
    transition: animation-play-state 0.3s ease;
  }

  .logo-carousel:hover .logo-track {
    animation-play-state: paused;
  }

  .logo-track img {
    height: 35px;
    margin: 0 40px;
    vertical-align: middle;
    transition: transform 0.3s ease;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

.benefis_container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  @media only screen and (max-width: 768px) {
    gap: 30px;
  }
}

.benefits {
  width: 480px;
  @media only screen and (max-width: 1024px) {
    margin-left: 20px;
  }
}

.benefits_title {
  font-family: "Maison Neue Extended";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}

.benefits_desc {
  color: #fff;
  font-family: "Maison Neue Book";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */

  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }
}

h4 {
  color: #9abbff;
  font-family: "Maison Neue Extended bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.p1 {
  color: #fff;
  font-family: "Maison Neue Book";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.benefits_item {
  margin-top: 46px;
}

.benefits .benefits_item li {
  margin-top: 30px;
  transition: filter 0.3s ease;
}

.benefits .benefits_item li.active {
  filter: none;
  border-left: 2px solid #9abbff;
  padding-left: 10px;

  @media only screen and (max-width: 480px) {
    border: none;
    padding-left: 0px;
  }
}

.benefits .benefits_item li:not(.active) {
  filter: blur(15px);
  @media only screen and (max-width: 480px) {
    filter: blur(0);
  }
}

.benefits .benefits_item li:hover {
  filter: none;
}

.benefits_image {
  width: 725px;
  height: 500px;

  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.benefits_img {
  @media only screen and (max-width: 1024px) {
    width: 625px;
    height: 400px;
  }

  @media only screen and (max-width: 768px) {
    width: 425px;
    height: 300px;
  }
}

.image8 {
  margin-top: -14%;

  @media only screen and (max-width: 1024px) {
    margin-top: -10%;
  }
}

@media (max-width: 480px) {
  .benefis_container {
    flex-direction: column;
  }

  .benefits {
    width: 400px;
    text-align: center;
  }

  .benefits_title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .benefits_desc {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .benefits_item h4 {
    font-size: 18px;
  }

  .p1 {
    font-size: 14px;
  }

  .benefits_img {
    width: 100%;
    margin-top: 12px;
    border-radius: 8px;
  }

  /* Sağdaki büyük görseli gizle */
  .benefits_image {
    display: none;
  }
}

@media (max-width: 390px) {
  .benefits {
    width: 360px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .benefits {
    width: 340px;
    text-align: center;
  }
}

h5 {
  color: #fff;
  font-family: "Maison Neue Extended";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media only screen and (max-width: 480px) {
    font-size: 30px;
  }
}

.crypto_container {
  margin-bottom: 100px;
  width: 100%;
  height: 508px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background: radial-gradient(
    66.42% 138.68% at 52.1% 100%,
    #00173e 0%,
    #000 100%
  );

  @media only screen and (max-width: 768px) {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .crypto_text {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 80px;

    @media only screen and (max-width: 768px) {
      padding-top: 50px;
      justify-content: center;
    }
  }

  .crypto_title {
    width: 635px;
    @media only screen and (max-width: 480px) {
      width: 410px;
    }

    @media only screen and (max-width: 390px) {
      width: 360px;
    }

    @media only screen and (max-width: 360px) {
      width: 330px;
    }
  }

  .crypto_img {
    width: 308.43px;
    height: 400px;
    flex-shrink: 0;

    @media only screen and (max-width: 768px) {
      width: 232px;
      height: 300px;
    }
  }

  .crypto_desc {
    color: #fff;
    font-family: "Maison Neue Book";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    list-style: none;
    gap: 15px;
  }

  .crypto_item {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: "Maison Neue Book";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    gap: 8px;
  }
}

.section4_container {
  margin-top: -100px;
  background: linear-gradient(180deg, #000 0%, #00081f 100%);
  width: 100%;
  height: 1450px;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: auto;
  }

  .sec4_left {
    display: flex;
    margin-top: 150px;
    width: 331px;
    justify-content: space-between;
    @media only screen and (max-width: 768px) {
      align-items: center;
      text-align: center;
    }

    @media only screen and (max-width: 768px) {
      align-items: center;
      text-align: center;
    }

    @media only screen and (max-width: 480px) {
      margin-top: 50px;
    }
  }

  .sec4_right {
    display: flex;
    margin-top: 150px;
    flex-direction: column;

    @media only screen and (max-width: 480px) {
      margin-top: 50px;
    }
  }

  .sec4_desc {
    color: #fff;
    font-family: "Maison Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 257px;

    @media only screen and (max-width: 768px) {
      width: 330px;
    }
  }

  .sec4_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-left: 44px;

    @media only screen and (max-width: 1024px) {
      margin-left: 10px;
    }
  }

  .sec4_card1 {
    display: flex;
    width: 825px;
    height: 350px;
    padding-top: 50px;
    gap: 25px;
    padding-left: 40px;
    padding-bottom: 50px;
    border-radius: 8px;
    border: 1px solid #003792;
    background: radial-gradient(
      128.18% 128.18% at 88.13% 98%,
      #005446 0%,
      #001d4a 100%
    );

    @media only screen and (max-width: 1024px) {
      width: 725px;
      height: 350px;
      padding-left: 20px;
      gap: 10px;
    }

    @media only screen and (max-width: 480px) {
      flex-direction: column;
      width: 350px;
      height: 500px;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 8px;
      border: 1px solid #003792;
      background: radial-gradient(
        142.86% 100% at 50% 100%,
        #005446 0%,
        #001d4a 100%
      );
    }
  }

  .sec4_card2 {
    display: flex;
    width: 825px;
    height: 350px;
    padding-top: 50px;
    gap: 25px;
    padding-left: 40px;
    padding-bottom: 50px;
    border-radius: 8px;
    border: 1px solid #1d3e8a;
    background: radial-gradient(
      128.18% 128.18% at 88.13% 98%,
      #025570 0%,
      #0c1f4b 100%
    );

    @media only screen and (max-width: 1024px) {
      width: 725px;
      height: 350px;
      padding-left: 20px;
      gap: 10px;
    }

    @media only screen and (max-width: 480px) {
      flex-direction: column;
      width: 350px;
      height: 500px;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .sec4_card3 {
    display: flex;
    width: 825px;
    height: 350px;
    padding-top: 50px;
    gap: 25px;
    padding-left: 40px;
    padding-bottom: 50px;
    border-radius: 8px;
    border: 1px solid #005d8d;
    background: radial-gradient(
      128.18% 128.18% at 88.13% 98%,
      #006f92 0%,
      #00324d 100%
    );

    @media only screen and (max-width: 1024px) {
      width: 725px;
      height: 350px;
      padding-left: 20px;
      gap: 10px;
    }

    @media only screen and (max-width: 480px) {
      flex-direction: column;
      width: 350px;
      height: 500px;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .card_text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media only screen and (max-width: 480px) {
      gap: 20px;
    }
  }
}

.card_left {
  @media only screen and (max-width: 480px) {
    width: 310px;
  }
}

.card_right {
  margin-top: -13px;
  margin-right: 20px;

  @media only screen and (max-width: 1024px) {
    margin-right: 45px;
    margin-top: 15px;
  }
}

.end {
  margin-right: 0;
}

h6 {
  color: #fff;
  font-family: "Maison Neue Extended";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;

  @media only screen and (max-width: 1024px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 480px) {
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px; /* 103.571% */
  }
}

.card_desc {
  color: #fff;
  font-family: "Maison Neue Book";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 395px;

  @media only screen and (max-width: 480px) {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    width: 290px;
  }
}

.card_button {
  margin-top: 10px;
  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.card_learn {
  display: flex;
  height: 41px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(125deg, #b9e7ff 42.8%, #77adff 118.48%);
  color: #023689;
  text-align: center;
  font-family: "Maison Neue Extended";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card_right_img {
  @media only screen and (max-width: 1024px) {
    width: 300px;
    height: auto;
  }

  @media only screen and (max-width: 480px) {
    margin-top: 10px;
  }
}

.img_margin {
  @media only screen and (max-width: 480px) {
    margin-top: 22px;
  }
}

.img_margin1 {
  @media only screen and (max-width: 480px) {
    margin-top: 22px;
    margin-left: 28px;
  }
}

.real_container {
  padding-top: 100px;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background: linear-gradient(180deg, #00081f 51.17%, #032a67 136%);

  @media only screen and (max-width: 768px) {
    height: auto;
  }
  .real_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .real_desc {
    color: #fff;
    font-family: "Maison Neue Book";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }

    @media only screen and (max-width: 480px) {
      width: 400px;
    }

    @media only screen and (max-width: 390px) {
      width: 300px;
    }
  }

  .real_desktop {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .real_mobil {
    display: none;

    @media only screen and (max-width: 768px) {
      display: flex;
    }
  }
}

.see_container {
  overflow: scroll;
  padding-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: linear-gradient(180deg, #000717 0%, #021034 100%);

  @media only screen and (max-width: 768px) {
    height: auto;
  }

  .see_cards {
    display: flex;
    margin-left: 40%;
    gap: 30px;

    @media only screen and (max-width: 1920px) {
      margin-left: 80%;
    }

    @media only screen and (max-width: 1440px) {
      margin-left: 130%;
    }

    @media only screen and (max-width: 1280px) {
      margin-left: 150%;
    }

    @media only screen and (max-width: 1024px) {
      margin-left: 220%;
    }

    @media only screen and (max-width: 768px) {
      margin-left: 170%;
      align-items: center;
    }

    @media only screen and (max-width: 480px) {
      margin-left: 330%;
      gap: 15px;
    }

    @media only screen and (max-width: 390px) {
      margin-left: 380%;
    }

    @media only screen and (max-width: 360px) {
      margin-left: 420%;
    }
  }

  .see_title {
    color: #fff;
    font-family: "Maison Neue Extended";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media only screen and (max-width: 768px) {
      font-size: 35px;
      width: 500px;
      text-align: center;
    }

    @media only screen and (max-width: 480px) {
      font-size: 30px;
      width: 380px;
    }

    @media only screen and (max-width: 390px) {
      font-size: 25px;
      width: 340px;
    }
  }

  .card_see_title {
    color: #dbe8ff;
    font-family: "Maison Neue Extended bold";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media only screen and (max-width: 768px) {
      font-size: 22px;
    }
  }

  .card_see_desc {
    color: #dbe8ff;
    font-family: "Maison Neue Book";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  .see_card {
    display: flex;
    width: 600px;
    height: 449px;
    padding: 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid #2c4480;
    background: #0c1732;

    @media only screen and (max-width: 768px) {
      width: 350px;
      height: 550px;
    }
  }

  .card_see_footer {
    display: flex;
    gap: 20px;
  }

  .yazar {
    color: #fff;
    font-family: "Maison Neue Extended";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .company {
    color: #fff;
    font-family: "Maison Neue Book";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.faq_container {
  padding-top: 100px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 51px;
  background: #000717;

  .accordion {
    width: 750px;
    height: auto;

    @media only screen and (max-width: 480px) {
      width: 350px;
    }
  }

  .faq_title {
    color: #fff;
    font-family: "Maison Neue Extended";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media only screen and (max-width: 768px) {
      font-size: 35px;
      width: 500px;
      text-align: center;
    }

    @media only screen and (max-width: 480px) {
      font-size: 30px;
      width: 380px;
    }

    @media only screen and (max-width: 390px) {
      font-size: 25px;
      width: 340px;
    }
  }
}

.signup_container {
  padding-top: 100px;
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000717;
  gap: 200px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
    gap: 30px;
  }

  .signup_left {
    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .signup_title {
      color: #fff;
      font-family: "Maison Neue Extended bold";
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media only screen and (max-width: 480px) {
        text-align: center;
      }
    }

    .signup_desc {
      color: #fff;
      font-family: "Maison Neue Book";
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

      @media only screen and (max-width: 480px) {
        text-align: center;
      }
    }
  }

  .signup_right {
    display: flex;
    gap: 20px;
    .signup_input {
      display: flex;
      width: 270px;
      height: 50px;
      padding: 10px;
      align-items: center;
      gap: 5px;
      border-radius: 4px;
      border: 1px solid #205f95;
      background: #04142e;
      color: #fff;
      font-family: "Maison Neue Extended";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .signup_input::placeholder {
      color: #fff;
      font-family: "Maison Neue Extended";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .join {
      display: flex;
      width: 72px;
      height: 50px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: linear-gradient(125deg, #b9e7ff 42.8%, #77adff 118.48%);
      color: #023689;
      text-align: center;
      font-family: "Maison Neue Extended";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.would_container {
  padding-top: 100px;
  padding-bottom: 67px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: radial-gradient(
    48.57% 101.4% at 52.1% 100%,
    #032a67 0%,
    #000717 100%
  );

  @media only screen and (max-width: 768px) {
    height: auto;
  }

  .would_text{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:10px;

    .would_title{
      color: #fff;
      font-family: "Maison Neue Extended bold";
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media only screen and (max-width: 480px) {
        text-align: center;
      }

    }

    .would_desc{
      color: #fff;
      font-family: "Maison Neue Book";
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

      @media only screen and (max-width: 480px) {
        text-align: center;
      }
    }

    .get{
      display: flex;
      width: auto;
      height: 50px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: linear-gradient(125deg, #b9e7ff 42.8%, #77adff 118.48%);
      color: #023689;
      text-align: center;
      font-family: "Maison Neue Extended";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

  }
}
